*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #F8F5F3;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
	margin:0 0 3px 5px;
	font-size: 40px;
}

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
	font-size:18px;
}

.container{
	padding:1rem;
	background: #F8F5F3;
}

.filter-outer{
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background: #fff;
	border-radius: 10px;
}

.filter-outer h2{
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 5px;
}

.filter-section{
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 5px 0 5px;
}

.filter-section p{
	font-size: 22px;
	align-self: center;
	width:70%;
	border-bottom: #333 1px solid;
	padding: 0 4px 0 4px;
	text-align: center;
}

.filter-grid{
	display: grid;
	grid-gap: 1.5rem 4rem;	
	grid-template-columns: repeat(2, 1fr);
	padding: 1rem;
}

.filter-item{
	background: #81c71c;
	font-size: 1.3rem;
	height: 2rem;
	font-weight: bold;
	border-radius: 5px;
	text-align: center;
}

.filter-grid a{
	text-decoration: none;
	color:#333;
}

.rocket-grid{
	width:100%;
	background: #F8F5F3;
	margin: 1rem 0 1rem;
}

.rocket-item{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	padding: 1rem;
	margin: 1rem 0 1rem;
	background: #fff;
	border-radius: 10px;
}

.rocket-item img{
	background: #F8F5F3;
}

.rocket-item .details{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem;
}

.rocket-item .heading{
	font-weight: bold;
	color:#1a0dab;
	font-size: 20px;
	margin-bottom: 1rem;
}

.label{
	font-weight: bold;
	color: black;
	font-size: 18px;
}

.rocket-item ul{
	padding:0 1rem 0;
}

.details{
	margin-bottom: 1rem;
}

.details p{
	color:#1a0dab;
}

@media(min-width:200px) and (max-width:700px){
	.container{
		display: grid;
	}
}

@media(min-width:700px) and (max-width:1024px){

	.container{
		display: flex;
		align-items: space-between;
	}

	.rocket-grid{
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-gap: 1rem;
		margin: 0;
	}

	.rocket-item{
		margin: 0;
	}

	.gap{
		height: 100vh;
		width:20px;
		background-color:#F8F5F3;
	}

	.filter-grid{
		grid-area: filter;
		margin-right: 20px;
	}

}

@media(min-width:1024px){

	.container{
		display: flex;
		justify-content: space-evenly;
	}

	.rocket-grid{
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-gap: 1rem;
		margin: 0;
	}

	.gap{
		height: 100vh;
		width:20px;
		background-color:#F8F5F3;
	}
	
	.rocket-item{
		margin: 0;
	}

	.filter-grid{
		grid-area: filter;
	}

	.rocket-grid{
		grid-area: rocketlist;
	}

}